In [4]:
import pandas as pd
weather = pd.read_csv("WeatherData.csv", index_col="row ID")
weather

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
row ID,,,,,,,,,,,,,,,,,,,,,
Row0,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
Row1,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
Row2,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,SW,W,...,24.0,49.0,19.0,1009.6,1008.2,1.0,NaN,18.1,24.6,No
Row3,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,SE,NW,...,28.0,42.0,9.0,1008.9,1003.6,NaN,NaN,18.3,30.2,No
Row4,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,NNW,NNW,...,28.0,76.0,93.0,994.3,993.0,8.0,8.0,17.4,15.8,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Row43633,Uluru,2.4,19.1,0.0,NaN,NaN,E,33.0,SE,E,...,17.0,59.0,24.0,1030.0,1026.2,NaN,NaN,8.0,18.8,No
Row43634,Uluru,2.3,21.4,0.0,NaN,NaN,SE,22.0,SE,SSE,...,7.0,60.0,28.0,1026.9,1022.8,NaN,NaN,8.9,20.3,No
Row43635,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,S,E,...,7.0,59.0,24.0,1025.0,1021.4,NaN,NaN,8.8,22.1,No
Row43636,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,ESE,E,...,17.0,63.0,33.0,1027.2,1023.3,NaN,NaN,11.0,20.3,No
Row43637,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No